:root {
  --bg: #071616;
  --fg: #dfdfdf;
  --bru: #353234;
  --brf: #144949;
}

* {
  font-family: Monospace;
  text-align: center;
  color: var(--fg);
  text-decoration: none;
}

body {
  background: var(--bg);
}

.search-bar {
  margin: 100px auto 0px auto;
  width: 1100px;
}
.search-bar input {
  background: var(--bg);
  width: 100%;
  height: 35px;
  border: none;
}

.search-bar input:focus {
  outline: none;
}

#bookmarks {
  height: auto;
  width: 1100px;
  margin: 50px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
}

.bmark {
  background: var(--bg);
  width: auto;
  height: 40px;
  margin: 0 0 3px 3px;
}

.bmark,
.search-bar {
  border: 1px solid var(--bru);
}

.bmark:hover,
.search-bar:hover {
  border-color: var(--brf);
  color: var(--brf);
  transition: 0.3s;
}
